[include]
    path = ~/.gitconfig.local

[user]
    name = Christian Wygoda

[alias]
    st = status
    co = checkout
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    t = tag --sort=-creatordate

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[rebase]
    autoSquash = true

[fetch]
    prune = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
